DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lupo_contagem
SALE_PIN_COXIM_MS=
SALE_PIN_CAMPO_GRANDE_MS=
META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_TEMPLATE_NAME=
CRON_SECRET=
